{
  "extends": "eslint:recommended",
  "env": {
    "browser": false,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "strict": [
      "error",
      "global"
    ],
    "curly": "warn"
  }
}
